{% extends 'base.html' %}
{% load static %}

{% block body_block %}
    <header class="masthead text-center text-white d-flex" style="background:#cccccc !important;">
    <h1>{{ page_title }}</h1>
        <div class="container my-auto">
            <div class="row">

                {% for device in device_list %}
                <div class="col-lg-4">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-tasks fa-fw"></i> {{ device.device_id.type }}
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="#" class="list-group-item">
                                    <span class="pull-left text-muted small"><em>Device Name: </em>
                                    </span>
                                    <i class="fa fa-tasks fa-fw"></i> {{ device.device_name }}
                                </a>

                                <a href="#" class="list-group-item">
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small"><em>11:32 AM</em>
                                    </span>
                                </a>

                                <a href="#" class="list-group-item">
                                    <i class="fa fa-bolt fa-fw"></i> Server Crashed!
                                    <span class="pull-right text-muted small"><em>11:13 AM</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-warning fa-fw"></i> Server Not Responding
                                    <span class="pull-right text-muted small"><em>10:57 AM</em>
                                    </span>
                                </a>
                            </div>
                            <!-- /.list-group -->
                            <a href="#" class="btn btn-default btn-block">View All Alerts</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </header>
{% endblock %}
