{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}

{% block body_block %}
    <form class="text-center border border-light p-5"
          method="POST"
          action="{% url 'nalkinscloud_ui:login_process' %}" id="login"
          name="login_form" role="form">
        {% csrf_token %}
        <!-- Email -->
        <input type="email" id="defaultLoginFormEmail" name="email" class="form-control mb-4"
               placeholder="Email" value="" required="required">

        <!-- Password -->
        <input type="password" id="defaultLoginFormPassword" name="password" class="form-control mb-4"
               placeholder="Password" value="" required="required">

        <div class="d-flex justify-content-around">
            <div>
                <!-- Remember me -->
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                    <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
                </div>
            </div>
            <div>
                <!-- Forgot password -->
                <a href="">Forgot password?</a>
            </div>
        </div>

        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}


        <!-- Sign in button -->
        <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>
    </form>

    <div class="text-center border border-light p-5">
        <!-- Register -->
        <p>Not a member?
            <a href="">Register</a>
        </p>

        <p>or sign in with:</p>

        <div class="col text-center">
            <a class="btn btn-outline-dark" href="{% provider_login_url 'google' %}" role="button"
               style="text-transform:none">
                <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in"
                     src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
                Sign in with Google
            </a>
        </div>


    </div>
{% endblock %}
