{% extends 'base.html' %}
{% load static %}

{% block body_block %}
    <form class="text-center border border-light p-5"
          method="POST"
          action="{% url 'nalkinscloud_api:login_process' %}" id="login"
          name="login_form" role="form">
        {% csrf_token %}
        <!-- Email -->
        <input type="email" id="defaultLoginFormEmail" name="email" class="form-control mb-4"
               placeholder="Email" value="" required="required">

        <!-- Password -->
        <input type="password" id="defaultLoginFormPassword" name="password" class="form-control mb-4"
               placeholder="Password" value="" required="required">

        <div class="d-flex justify-content-around">
            <div>
                <!-- Remember me -->
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                    <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
                </div>
            </div>
            <div>
                <!-- Forgot password -->
                <a href="">Forgot password?</a>
            </div>
        </div>

        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}


        <!-- Sign in button -->
        <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>
    </form>

    <div class="text-center border border-light p-5">
        <!-- Register -->
        <p>Not a member?
            <a href="">Register</a>
        </p>

        <!-- Social login -->
        <p>or sign in with:</p>

        <a type="button" class="light-blue-text mx-2" href="{% url 'social:begin' 'google-oauth2' %}">
            <i class="btn btn-block btn-social-icon btn-google">
                <span class="fa fa-google"></span>
            </i>
        </a>

        <a type="button" class="light-blue-text mx-2" href="{% url 'social:begin' 'github' %}">
            <i class="btn btn-block btn-social-icon btn-github">
                <span class="fa fa-github"></span>
            </i>
        </a>
    </div>
{% endblock %}
