# Make sure using python3 in order to install django 2.x and above
django==3.0.4

django-user-email-extension==1.0.10

apscheduler==3.6.3
djangorestframework==3.11.2
django-oauth-toolkit==1.3.2
mysqlclient==1.4.6
django-ipware==2.1.0
pytz==2019.3
PyYAML==5.3.1
graypy==2.1.0 # Graylog logger
gunicorn==20.0.4
social-auth-app-django==3.1.0
