# Make sure using python3 in order to install django 2.x and above
django==2.1.7

django-user-email-extension

apscheduler
djangorestframework
django-oauth-toolkit
mysqlclient
django-ipware
pytz
PyYAML
graypy==1.1.1 # Graylog logger
gunicorn
social-auth-app-django
